.weather-card {
  border-radius: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  padding: 10px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  min-height: 180px;

  &:hover {
    transform: scale(1.1);
  }

  h3 {
    font-size: 24px;
    color: white;
    font-weight: bold;
  }

  .infos {
    display: flex;
    justify-content: center;
    color: rgb(230, 229, 229);
    font-weight: bold;
    margin-top: 30px;

    .data {
      font-size: 70px;
    }
  }
}
